@import "tailwindcss";
@theme {
    --color-bg-header: #282828;
    --color-bg-main: #121212;
    --color-primary-a1: #43cfac;
    --color-primary-a10: #61d5b5;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
h1 {
    margin: 0;
}

#checkbox {
    display: none;
}

.switch {
    position: relative;
    width: 175px;
    height: 175px;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 700;
    color: rgb(37, 37, 37);
    border: 2px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}

.svg {
    position: relative;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg path {
    fill: rgb(37, 37, 37);
}

#checkbox:checked + .switch .svg {
    filter: drop-shadow(0px 0px 3px var(--color-primary-a1));
}

#checkbox:checked + .switch .svg path {
    fill: rgb(255, 255, 255);
}

#checkbox:checked + .switch {
    box-shadow: 0px 0px 1px var(--color-primary-a1) inset, 0px 0px 2px var(--color-primary-a1) inset,
        0px 0px 10px var(--color-primary-a1) inset, 0px 0px 40px var(--color-primary-a1),
        0px 0px 100px var(--color-primary-a1), 0px 0px 5px var(--color-primary-a1);
    border: 5px solid rgb(255, 255, 255);
    background-color: var(--color-primary-a10);
    color: rgb(255, 255, 255);
    animation: pulse-glow 5s ease-in-out infinite;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0px 0px 1px var(--color-primary-a1) inset, 0px 0px 2px var(--color-primary-a1) inset,
            0px 0px 10px var(--color-primary-a1) inset, 0px 0px 40px var(--color-primary-a1),
            0px 0px 100px var(--color-primary-a1), 0px 0px 5px var(--color-primary-a1);
    }
    50% {
        box-shadow: 0px 0px 2px var(--color-primary-a1) inset, 0px 0px 4px var(--color-primary-a1) inset,
            0px 0px 20px var(--color-primary-a1) inset, 0px 0px 80px var(--color-primary-a1),
            0px 0px 160px var(--color-primary-a1), 0px 0px 10px var(--color-primary-a1);
    }
    100% {
        box-shadow: 0px 0px 1px var(--color-primary-a1) inset, 0px 0px 2px var(--color-primary-a1) inset,
            0px 0px 10px var(--color-primary-a1) inset, 0px 0px 40px var(--color-primary-a1),
            0px 0px 100px var(--color-primary-a1), 0px 0px 5px var(--color-primary-a1);
    }
}

/**
**/

.masked-overflow {
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 8px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* If content exceeds height of container, overflow! */
    overflow-y: auto;

    /* Our height limit */
    height: 100%;

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    padding-bottom: var(--mask-height);

    /* Keep some space between content and scrollbar */
    padding-right: 20px;

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );

    /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
}
